@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }
  .hero-ring{
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}

@layer utilities{
  .container{
    @apply mx-auto px-4 lg:max-w-5xl;
  }
}
/* Add the missing animation */
@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-move-left {
  animation: move-left 30s linear infinite;
}
@keyframes move-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-move-right {
  animation: move-right 30s linear infinite;
}
@keyframes ping-large {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping-large {
  animation: ping-large 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}